## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='BSSSBSBB'#'BBBSBBBB'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
91
+-------------------+----------------+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
|            coeff_1|         coeff_2|            coeff_3|            coeff_4|            coeff_5|elevation|   label|latitude|longitude|measurement|             res_1|               res_2|               res_3|               res_4|               res_5|          res_mean|    station|total_var|undefs|              vector|  year|
+-------------------+----------------+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
|-0.9799956885752188|74.7115835833705|0.11232650607835276|0.11633893905235707|0.12434517802510543|     71.6|BSSSBSBB| 32.0289| -87.3167|       SNWD|0.9998279762826575|2.164684300841072...|1.938686351275991...|1.696254210715699...|1.419306426315543...|0.9665688998072985|USC00011301|   5776.0|     0|[C0 54 00 00 00 0...|1964.0|
|-0.9799956885752188|74.7115835833705|0.11232650607835276|0.11633893905235707|0.12434517802510543|     51.8|BSSSBSBB| 31.6508| -87.7097|       SNWD|0.9998279762826575|2.164684300841072...|1.938686351275991...|1.696254210715699...|1.419306426315543...|0.9665688998072985|USC00018867|   5776.0|    30|[C0 54 00 00 00 0...|1964.0|
+-------------------+----------------+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'coeff_4', 'coeff_5', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_4', 'res_5', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [12]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_3'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_3 FROM weather

       station    year   coeff_3
0  USC00011301  1964.0  0.112327
1  USC00018867  1964.0  0.112327
2  USC00018215  1964.0  0.112327
3  USC00019103  1964.0  0.112327
4  USC00017963  1964.0  0.112327

In [13]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_3')
year_station_table.head(10)

station,US1ALMY0007,USC00010140,USC00010440,USC00010616,USC00011069,USC00011178,USC00011300,USC00011301,USC00011690,USC00012079,...,USC00018323,USC00018438,USC00018446,USC00018859,USC00018867,USC00019103,USC00221174,USW00013821,USW00013850,USW00013895
year,,,,,,,,,,,,,,,,,,,,,
1935.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.352373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.423577
1958.0,NaN,NaN,NaN,NaN,NaN,NaN,0.56098,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.453164,NaN,NaN,...,NaN,NaN,NaN,0.453164,NaN,NaN,NaN,NaN,NaN,0.453164
1964.0,NaN,-0.39011,-0.089440,NaN,NaN,NaN,NaN,0.112327,-0.390110,-0.995409,...,NaN,NaN,-0.390110,0.211231,0.112327,0.112327,NaN,NaN,NaN,0.314093
1968.0,NaN,NaN,NaN,0.439899,0.457202,0.457202,NaN,0.463516,0.503174,0.503174,...,0.457202,NaN,0.512381,NaN,0.547379,NaN,0.434274,-0.020891,0.446898,NaN
1973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.714882
1977.0,NaN,NaN,NaN,NaN,0.496379,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.570538
1987.0,NaN,NaN,0.429804,NaN,NaN,NaN,NaN,0.446282,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.429314

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [14]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  48.0479234689
RMS removing mean-by-station=  43.2453320621
RMS removing mean-by-year   =  21.6737027571

In [15]:
T=year_station_table
print 'initial MS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial MS= 48.0479234689
0 after removing mean by year    = 21.6737027571
0 after removing mean by stations= 19.1448643174
1 after removing mean by year    = 18.5853194194
1 after removing mean by stations= 18.3723209108
2 after removing mean by year    = 18.2855845682
2 after removing mean by stations= 18.2481843696
3 after removing mean by year    = 18.231170455
3 after removing mean by stations= 18.2230259383
4 after removing mean by year    = 18.2189368451
4 after removing mean by stations= 18.2167930664

In [16]:
def MS(Mat):
    return np.nanmean(Mat**2)

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total MS                   = ',MS(year_station_table)
print 'MS removing mean-by-station= ',MS(tbl_minus_station)
print 'MS removing mean-by-year   = ',MS(tbl_minus_year)
print 'fraction explained year=  ',(MS(year_station_table) - MS(tbl_minus_year))*100.0/(MS(year_station_table))
print 'fraction explained station=  ',(MS(year_station_table) - MS(tbl_minus_station))*100.0/(MS(year_station_table))

total MS                   =  2308.60294968
MS removing mean-by-station=  1870.15874516
MS removing mean-by-year   =  469.749391205
fraction explained year=   79.6522225153
fraction explained station=   18.9917544971