## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [5]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBSSBSBB'
meas='TOBS'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
1913
+-------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|            coeff_1|            coeff_2|            coeff_3|           coeff_4|elevation|   label|latitude|longitude|measurement|             res_1|             res_2|              res_3|              res_4|           res_mean|    station|  total_var|undefs|              vector|  year|
+-------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|-1420.4091552364753|-188.78913348332992|-28.349423028260485|-37.57839617869763|   1289.3|SBSSBSBB| 41.5239|-112.0436|       TOBS|0.3249298753379651|0.3132749305874309|0.31269362017321994|0.31234084875956203|0.21210310136706773|USC00420928|1.4235031E7|     6|[40 4C 40 4C 80 5...|1996.0|
| 1135.2612352324347| 136.29627449365884|  121.2139038486059| -78.1429297071765|   1362.5|SBSSBSBB| 41.7353|-111.8561|       TOBS|0.3399881511686831|0.3200165594095721| 0.3129009258374834| 0.3073227409359448| 0.5851473136998695|USC00425182|  3358991.0|    14|[A0 D6 00 7E F0 D...|1976.0|
+-------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [6]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'coeff_4', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_4', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [7]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_2'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_2 FROM weather

       station    year     coeff_2
0  USC00420928  1996.0 -188.789133
1  USC00425182  1976.0  136.296274
2  USC00425182  1975.0  -97.692703
3  USC00420928  1979.0  320.152290
4  USW00024120  1942.0  -76.015094

In [8]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_2')
year_station_table.head(10)

station,USC00100803,USC00103732,USC00105275,USC00106053,USC00106785,USC00107346,USC00107353,USC00109698,USC00420487,USC00420924,...,USS0011H37S,USS0011H55S,USS0011H57S,USS0011H58S,USS0011H59S,USS0011J11S,USS0011J12S,USS0011J68S,USS0012G18S,USW00024120
year,,,,,,,,,,,,,,,,,,,,,
1901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-243.404828,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-306.695812,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.413132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-184.859346,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905.0,NaN,NaN,NaN,NaN,-23.283681,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906.0,NaN,NaN,NaN,NaN,421.413952,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1907.0,NaN,-410.161945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908.0,NaN,-66.551488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909.0,NaN,-47.147353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910.0,NaN,117.690763,NaN,NaN,NaN,NaN,NaN,67.000940,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [9]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  215.448222468
RMS removing mean-by-station=  182.265214649
RMS removing mean-by-year   =  151.823957338

In [10]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i+1,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i+1,'after removing mean by stations=',RMS(T)

initial RMS= 215.448222468
1 after removing mean by year    = 151.823957338
1 after removing mean by stations= 105.281965786
2 after removing mean by year    = 104.276518076
2 after removing mean by stations= 104.147437868
3 after removing mean by year    = 104.102853527
3 after removing mean by stations= 104.081499811
4 after removing mean by year    = 104.070018475
4 after removing mean by stations= 104.063533662
5 after removing mean by year    = 104.059782438
5 after removing mean by stations= 104.057585369

In [11]:
# homework 5
features=['station, year, coeff_1','station, year, coeff_2','station, year, coeff_3']
for Features in features:
    Query="SELECT %s FROM weather"%Features
    #print(Query)
    pdf = sqlContext.sql(Query).toPandas()
    pdf.head()
    year_station_table=pdf.pivot(index='year', columns='station', values=Features.split(', ')[-1])

    mean_by_year=np.nanmean(year_station_table,axis=1)
    mean_by_station=np.nanmean(year_station_table,axis=0)
    tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
    tbl_minus_station = year_station_table-mean_by_station

    print 'total RMS                    = ',RMS(year_station_table)
    print 'RMS removing mean-by-station = ',RMS(tbl_minus_station), ',  fraction explained = ', (RMS(year_station_table) - RMS(tbl_minus_station)) / RMS(year_station_table) * 1.0 
    print 'RMS removing mean-by-year    = ',RMS(tbl_minus_year), ',  fraction explained = ', (RMS(year_station_table) - RMS(tbl_minus_year)) / RMS(year_station_table) * 1.0

total RMS                    =  756.144877178
RMS removing mean-by-station =  465.498142415 ,  fraction explained =  0.38437969169
RMS removing mean-by-year    =  692.268018838 ,  fraction explained =  0.0844770099854
total RMS                    =  215.448222468
RMS removing mean-by-station =  182.265214649 ,  fraction explained =  0.15401848035
RMS removing mean-by-year    =  151.823957338 ,  fraction explained =  0.295311162938
total RMS                    =  173.416889085
RMS removing mean-by-station =  165.933941754 ,  fraction explained =  0.0431500494024
RMS removing mean-by-year    =  105.261889507 ,  fraction explained =  0.393012468034