## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SSSSSSBB'
meas='TOBS'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
1271
+-------------------+------------------+------------------+------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|            coeff_1|           coeff_2|           coeff_3|           coeff_4|elevation|   label|latitude|longitude|measurement|              res_1|              res_2|              res_3|              res_4|           res_mean|    station|  total_var|undefs|              vector|  year|
+-------------------+------------------+------------------+------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|-1073.8061998945723| 425.3767238176554| 42.68208887773061|3.3903781535373803|     81.7|SSSSSSBB| 33.6131|-114.5972|       TOBS|  0.375026281650637| 0.3496650159708791|0.35060453284016535|0.35046750138878924|  0.065701054281355|USC00040924|2.6564074E7|    33|[80 58 80 58 B0 5...|1965.0|
|  867.6905688679807|-221.5527912895148|-93.93643596313063|   154.72513773382|    376.4|SSSSSSBB| 33.4114|-111.8183|       TOBS|0.40769105574937436|0.37207363722360076| 0.3568945108478452|0.34849613913036936|0.07505511463653514|USC00025467|1.4795264E7|     8|[90 55 80 51 80 5...|1946.0|
+-------------------+------------------+------------------+------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'coeff_4', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_4', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [25]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_1'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_1 FROM weather

       station    year      coeff_1
0  USC00040924  1965.0 -1073.806200
1  USC00025467  1946.0   867.690569
2  USC00029464  1943.0  1144.772608
3  USC00025467  1973.0  1012.426690
4  USC00021026  1991.0 -1123.666290

In [27]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_1')
year_station_table.head(10)

station,USC00020060,USC00020104,USC00020406,USC00020949,USC00021026,USC00021161,USC00021282,USC00021353,USC00021356,USC00021361,...,USC00029634,USC00040924,USC00042598,USC00043855,USC00044259,USC00045502,USC00045860,USC00046635,USW00023183,USW00093140
year,,,,,,,,,,,,,,,,,,,,,
1901.0,NaN,NaN,NaN,NaN,1445.293268,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902.0,NaN,NaN,NaN,NaN,1690.212935,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-68.682108,NaN,NaN,NaN,NaN,NaN
1908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [28]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
print mean_by_year
mean_by_station=np.nanmean(year_station_table,axis=0)
print mean_by_station
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

[ 1192.21534971  1278.25465438  1038.82196331   997.26105039   865.16136243
   371.15442029   207.97051026   574.90486981   493.96488132   224.19942378
   849.45302563   718.47652077   367.5028109     78.57794847   444.43932114
   198.07274462   464.24177385   842.4433561    514.09407544   776.39040259
   539.98614263   391.52975629   338.83026132   481.24394183   290.26929126
    62.56503724   202.3010922    336.25423416   371.5953304    439.24401488
   330.32914802   684.60553906   479.25355357   232.43639592   436.4186631
   246.15740064   350.86324746   194.32316624   285.22030354   327.37380147
   543.15373305   322.55392178   212.88449646   420.19761363   476.95276304
   356.20144783   264.93464445   503.64135997    65.12132314  -197.71308538
    52.63318975   146.54875548   135.73295031  -134.00882215   183.90278178
   -32.55910832    95.77686998    42.91242733   170.58916048   249.1724115
   102.32486566    72.64058572   -33.14085447   170.22478352   -10.12056117
  -125.44568901   -44.46651791   -90.34835304   -89.12135501    21.30116809
   167.02575223  -175.12161686   115.79129313    -1.42683879   -89.26072973
  -181.15745117   146.27872674  -191.19465507    80.38525463   -56.51491939
  -281.64279652  -171.39644173  -157.71795922  -333.6416132   -186.16080251
  -363.21350149  -312.44584335  -403.33048116  -621.11251608  -406.56902809
  -400.60936375  -343.13889641  -330.31935873   203.99507939  -119.06640388
   -44.89059566  -483.70261871    40.63490431  -242.75454843   -54.83994446
  -335.88219994   -22.26273418  -354.18004538  -227.53443838   -15.88546214
  -158.89249133   -99.93681964    46.94859667   180.67793953   196.72954122
   233.29396996   150.39482188]
[  450.35830309  -258.62511117   885.58454531  -706.87517305   174.96149957
   101.22239658  -518.24026072  -133.38944027  -227.67129439   -92.93290621
   294.03754893  -664.23449793  -513.44076318  -278.37134133  -496.94287815
  -205.58967488  -127.0324347   -474.40637077  -413.30027333   963.30670364
  -485.5145497    532.0973629   -219.76123528  -544.58621416   198.12888994
     7.39474138  1153.16148588   238.73293718  -595.32419548   958.28568017
   644.39173612   -80.04593162   394.0314935    -90.55385373   802.99320546
   598.56137913   489.59291435  -948.43199291  -611.43132062   358.85704756
   365.91545503    49.79117014   254.97112594  1344.53309218  -650.03934816
   816.43909732  -254.20753684]
total RMS                   =  706.344326214
RMS removing mean-by-station=  489.724403578
RMS removing mean-by-year   =  648.535489084

In [17]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 187.183429585
0 after removing mean by year    = 131.36786219
0 after removing mean by stations= 127.456228588
1 after removing mean by year    = 127.321951461
1 after removing mean by stations= 127.307980934
2 after removing mean by year    = 127.304833195
2 after removing mean by stations= 127.30374902
3 after removing mean by year    = 127.303287503
3 after removing mean by stations= 127.303070806
4 after removing mean by year    = 127.302964717
4 after removing mean by stations= 127.302911883