## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [6]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBBBBBSB'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
798
+------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|           coeff_1|           coeff_2|            coeff_3|elevation|   label|latitude|longitude|measurement|              res_1|              res_2|              res_3|           res_mean|    station|  total_var|undefs|              vector|  year|
+------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|1811.1595024675585|460.52743586739933| 343.37546092363345|    493.5|SBBBBBSB| 48.8217|-100.4525|       SNWD|0.21585999994825406|0.16516195320429455|0.13697690891565675|0.32277648388862784|USC00320941|1.2960385E7|     0|[F0 57 90 59 58 5...|1999.0|
|1268.4661434676477| 273.3398027979158|-498.35050196530085|    493.5|SBBBBBSB| 48.8217|-100.4525|       SNWD| 0.2754173374365746| 0.2454125696391732| 0.1375262485687557|0.23011228230743996|USC00320941|1.0141885E7|     1|[28 5B 28 5B 28 5...|1956.0|
+------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [7]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [26]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_3'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_3 FROM weather

       station    year      coeff_3
0  USC00320941  1999.0   343.375461
1  USC00320941  1956.0  -498.350502
2  CA005010191  2009.0 -1106.380403
3  CA005010640  2011.0   514.195921
4  CA005010640  2006.0  -341.097322

In [27]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_3')
year_station_table.head(10)

station,CA004011250,CA004012485,CA004016521,CA004018960,CA005010191,CA005010480,CA005010485,CA005010640,CA005010QFQ,CA005012545,...,USC00327824,USC00328047,USC00328627,USC00328792,USC00328913,USC00328990,USC00329333,USC00329445,USW00024013,USW00094011
year,,,,,,,,,,,,,,,,,,,,,
1939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,186.825996,276.745810,NaN,NaN,443.338985,NaN,NaN,358.395829,NaN
1950.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178.422465,-40.749847,NaN,-10.547495,101.769491,NaN,-21.897656,277.589193,NaN
1951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-216.623139,45.427579,NaN,NaN,45.281913,NaN,265.290358,85.787850,NaN
1952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,386.214531,445.111630,462.302533,814.437108,615.573814,561.639197,NaN,NaN,597.626446,NaN
1953.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-179.183402,NaN,NaN,-559.057480,-43.731651,NaN,NaN,153.454996,NaN,NaN
1954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,668.715990,NaN,905.546402,1039.912427,858.577572,741.101596,NaN,778.615651,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [28]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station), ', fraction explained = ', 100*(RMS(year_station_table)-RMS(tbl_minus_station))/RMS(year_station_table)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year), ', fraction explained = ', 100*(RMS(year_station_table)-RMS(tbl_minus_year))/RMS(year_station_table)

total RMS                   =  593.153878274
RMS removing mean-by-station=  571.389109917 , fraction explained =  3.66932918322
RMS removing mean-by-year   =  304.364718495 , fraction explained =  48.6870558142

In [20]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 1404.5940468
0 after removing mean by year    = 861.918498952
0 after removing mean by stations= 725.788526593
1 after removing mean by year    = 713.077847021
1 after removing mean by stations= 711.181721332
2 after removing mean by year    = 710.747088432
2 after removing mean by stations= 710.585474853
3 after removing mean by year    = 710.504948615
3 after removing mean by stations= 710.460235232
4 after removing mean by year    = 710.434578356
4 after removing mean by stations= 710.419712695