## Analyze whether SNWD varies more from year to year or from place to place.

In [10]:
import pandas as pd
import numpy as np
import urllib
import math

In [11]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[3]) created by __init__ at <ipython-input-2-fe7e1dcb0c4a>:6

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [36]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBBBBBSB'
meas='TOBS'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
1099
+-----------------+-------------------+------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+------------------+------------------+-------------------+-----------+-----------+------+--------------------+------+
|          coeff_1|            coeff_2|           coeff_3|           coeff_4|elevation|   label|latitude|longitude|measurement|             res_1|             res_2|             res_3|             res_4|           res_mean|    station|  total_var|undefs|              vector|  year|
+-----------------+-------------------+------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+------------------+------------------+-------------------+-----------+-----------+------+--------------------+------+
|684.4377105714412| 177.37383806872876|  145.782579745011| 322.0602723221767|    467.9|SBBBBBSB| 48.0797| -100.875|       TOBS|0.7411624980913444|0.7231758489058385|0.7120614687192407|0.6402802611021292|0.17495621660401484|USC00328990|1.0207342E7|    26|[00 D8 F0 D6 00 D...|1955.0|
|618.2590946306739|-444.99237050765896|205.97336706922243|-19.40497336651253|    472.4|SBBBBBSB| 48.3542| -99.9925|       TOBS|0.7412714024315504|0.6130972396897771|  0.58573703123994|0.5862750877009987|0.15173568703442694|USC00327704|  9330071.0|    25|[80 D1 A0 D3 80 D...|1956.0|
+-----------------+-------------------+------------------+------------------+---------+--------+--------+---------+-----------+------------------+------------------+------------------+------------------+-------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [37]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'coeff_4', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_4', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [51]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, %s'%feature
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_1 FROM weather

       station    year     coeff_1
0  USC00328990  1955.0  684.437711
1  USC00327704  1956.0  618.259095
2  USC00324646  1958.0 -558.765155
3  USC00326195  1976.0  553.138702
4  USC00323217  1938.0  620.339135

In [52]:
year_station_table=pdf.pivot(index='year', columns='station', values=feature)
year_station_table.head(10)

station,USC00320626,USC00320796,USC00320941,USC00320961,USC00321288,USC00321498,USC00322304,USC00322385,USC00322472,USC00323217,...,USC00327201,USC00327655,USC00327664,USC00327704,USC00327824,USC00328792,USC00328913,USC00328990,USC00329333,USC00329445
year,,,,,,,,,,,,,,,,,,,,,
1901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-261.606551
1902.0,NaN,NaN,NaN,NaN,NaN,-442.112128,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-338.953513,NaN,NaN,NaN,NaN,NaN,NaN,-566.688999
1906.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.915948,NaN,...,-21.406287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1907.0,NaN,NaN,NaN,NaN,-374.106443,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,77.589503,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [53]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  552.299600907
RMS removing mean-by-station=  435.517428033
RMS removing mean-by-year   =  474.626263804

In [9]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 646.118083143
0 after removing mean by year    = 389.181405429
0 after removing mean by stations= 364.382933589
1 after removing mean by year    = 363.235446874
1 after removing mean by stations= 363.111681619
2 after removing mean by year    = 363.090825353
2 after removing mean by stations= 363.085841244
3 after removing mean by year    = 363.084162625
3 after removing mean by stations= 363.083418988
4 after removing mean by year    = 363.083033867
4 after removing mean by stations= 363.082819911