## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBBBSBSS'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
652
+------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+-------------------+--------------------+--------------------+--------------------+------------------+-----------+------------+------+--------------------+------+
|           coeff_1|            coeff_2|            coeff_3|           coeff_4|elevation|   label|latitude|longitude|measurement|              res_1|               res_2|               res_3|               res_4|          res_mean|    station|   total_var|undefs|              vector|  year|
+------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+-------------------+--------------------+--------------------+--------------------+------------------+-----------+------------+------+--------------------+------+
|13513.667143923263| -2577.964214939354|-2187.4238323063278|1029.8930339581834|   2226.9|SBBBSBSS| 46.8333|   -110.7|       SNWD| 0.0701649195531972|0.029749947343499335|0.017981417390978287|0.012833155746031933|0.9024297538523988|USC00244663| 2.2052095E8|    28|[C3 64 77 64 44 6...|1952.0|
|13526.743828778577|-3839.1149921593146|-1193.3184258096212|13.507915634327688|   2226.9|SBBBSBSS| 46.8333|   -110.7|       SNWD|0.10846364199386242| 0.02861713029243685|0.028033789577542618| 0.02803674754119826|0.9072863832447193|USC00244663|2.29882721E8|    40|[5C 61 26 62 8C 6...|1957.0|
+------------------+-------------------+-------------------+------------------+---------+--------+--------+---------+-----------+-------------------+--------------------+--------------------+--------------------+------------------+-----------+------------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'coeff_4', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_4', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [10]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_1,coeff_2,coeff_3'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_1,coeff_2,coeff_3 FROM weather

       station    year       coeff_1      coeff_2      coeff_3
0  USC00244663  1952.0  13513.667144 -2577.964215 -2187.423832
1  USC00244663  1957.0  13526.743829 -3839.114992 -1193.318426
2  USC00244663  1951.0  12569.460613 -5040.683007  1848.646465
3  USC00244663  1949.0  13179.896278 -3495.090451 -1380.422340
4  USC00247228  1952.0   2725.634145  1891.543775  -470.580770

In [15]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_3')
year_station_table.head(10)

station,USC00241231,USC00241880,USC00242012,USC00242347,USC00242537,USC00243013,USC00243445,USC00243455,USC00243727,USC00243731,...,USC00248156,USC00248495,USC00248498,USC00248927,USC00248930,USC00248933,USC00249033,USC00249047,USC00249048,USW00024036
year,,,,,,,,,,,,,,,,,,,,,
1909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910.0,NaN,NaN,NaN,NaN,-478.081494,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911.0,NaN,NaN,NaN,NaN,1486.771465,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912.0,NaN,NaN,NaN,NaN,-236.355098,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1922.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [16]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  530.7728529
RMS removing mean-by-station=  499.701075446
RMS removing mean-by-year   =  345.465554066

In [9]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 756.872346905
0 after removing mean by year    = 555.289152167
0 after removing mean by stations= 358.541423236
1 after removing mean by year    = 341.197493521
1 after removing mean by stations= 337.480397647
2 after removing mean by year    = 335.968963294
2 after removing mean by stations= 335.203959867
3 after removing mean by year    = 334.786903877
3 after removing mean by stations= 334.552488316
4 after removing mean by year    = 334.418616882
4 after removing mean by stations= 334.341329322