## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SSSBSSBB'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
420
+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+------------------+-----------+------------+------+--------------------+------+
|            coeff_1|            coeff_2|            coeff_3|elevation|   label|latitude|longitude|measurement|              res_1|              res_2|              res_3|          res_mean|    station|   total_var|undefs|              vector|  year|
+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+------------------+-----------+------------+------+--------------------+------+
|-12268.765203613642| -825.7982574517665|-2286.6759004873734|   2139.7|SSSBSSBB| 37.2275|-119.2206|       SNWD|0.08125103815927785|0.07298132861948861|0.03728174536690478| 0.906217652985899|USC00044176|1.83549281E8|     4|[77 64 2B 64 90 6...|1965.0|
|-7369.5752581827655|-1672.1194814957266| 1863.4136714743952|   3800.9|SSSBSSBB| 37.5833|-118.2333|       SNWD|0.13714406624095649|0.09272310142424178|0.03755704636289412|0.8632053384851434|USC00049633| 7.2917624E7|     0|[C0 54 C0 54 C0 5...|1973.0|
+-------------------+-------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+------------------+-----------+------------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [14]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='elevation, year, coeff_1'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT elevation, year, coeff_1 FROM weather

   elevation    year       coeff_1
0     2139.7  1965.0 -12268.765204
1     3800.9  1973.0  -7369.575258
2     2139.7  1953.0 -10331.758936
3     3093.7  1967.0  -9877.938961
4     3093.7  1958.0  -4625.868472

In [16]:
year_station_table=pdf.pivot(index='year', columns='elevation', values='coeff_1')
year_station_table.head(10)

elevation,915.0,951.9,982.1,1179.6,1224.7,1250.3,1366.1,1374.6,1403.0,1421.0,...,2071.7,2139.7,2164.1,2378.7,2587.8,2763.0,2863.9,2920.0,3093.7,3800.9
year,,,,,,,,,,,,,,,,,,,,,
1913.0,NaN,NaN,NaN,-366.315062,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915.0,NaN,NaN,NaN,-480.837150,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916.0,NaN,NaN,NaN,-190.695625,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-250.413803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.227210,...,NaN,NaN,NaN,NaN,NaN,-3527.075827,NaN,-3982.606798,NaN,NaN
1927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-18.563929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11340.716233,NaN,NaN
1928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3786.588046,NaN,NaN
1929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-64.754371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4811.733648,NaN,NaN
1930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4624.579440,NaN,NaN
1931.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-2768.820879,NaN,NaN,NaN,NaN,NaN,-2798.879359,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [17]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  3359.93064281
RMS removing mean-by-station=  1880.565768
RMS removing mean-by-year   =  2505.43652363

In [19]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)

initial RMS= 3359.93064281
0 after removing mean by stations= 1880.565768
0 after removing mean by year    = 1461.50710392
1 after removing mean by stations= 1397.33879679
1 after removing mean by year    = 1374.82138887
2 after removing mean by stations= 1366.06853325
2 after removing mean by year    = 1362.45910892
3 after removing mean by stations= 1360.90014343
3 after removing mean by year    = 1360.19537753
4 after removing mean by stations= 1359.8605888
4 after removing mean by year    = 1359.69278272